@import url("https://fonts.googleapis.com/css2?family=Borel&family=Bricolage+Grotesque:opsz@10..48&family=Bungee&family=Lugrasimo&family=Roboto+Slab&family=Rubik+Wet+Paint&family=Special+Elite&family=Teko&family=Vina+Sans&family=Work+Sans&display=swap");
.about_main{
    background-color: black;
    
}


.about_p{
    font-family: "Times New Roman", Times, serif;
    color: white;
    margin-top:2.5rem ;
    margin-left: 12rem;
    font-size: 1.3rem/* 24px */;
    line-height: 2rem/* 32px */;
    width: 75%;
  
    

}
.about_img{
    display: flex;
}
.about_flex{
    display: flex;
    
}
.about_head{
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
   
    font-size: 75px;
    display: flex;
    justify-content: center;
    
    font-family: "Roboto Slab", serif;
}
@media only screen and   (max-width:1350px) {
    
    .about_head{
        font-size: 50px;
     

    }
    
    .about_flex{
        flex-direction: column;
    }
     .about_img{
        margin-left: -6rem;
    }

   
    
}
@media only screen and   (max-width:1150px)
{
    .about_img{
        display: none;
    }
    

}
@media only screen and   (max-width:920px) {
   
  
    .about_p{
        font-size: 1.2rem;
        margin-left: 100px;
        margin-bottom: 1rem;
    }
    .about_flex{
        flex-direction: column;
    }
    .about_img{
        display: none;
    }
    
}
@media only screen and   (max-width:540px) {
    
    .about_head{
        font-size: 2.5rem;
     
       

    }
    .about_p{
        font-size: 1.1rem;
        margin-left: 55px;
       
    }
    .about_flex{
        flex-direction: column;
    }
    .about_img{
        display: none;
    }
    
}
